.signin-container {
  border:1px solid #272727;
  border-width: 1px;
  border-radius: 6%;
  background-color: rgb(20, 20, 20);
}

.input-container {
  border:1px solid #272727;
  border-width: 1px;
  border-radius: 1%;
  background-color: rgb(20, 20, 20);
}

.head-text {
  text-align: left;
  color: rgb(194, 194, 194);
}

.text-color {
  color: rgba(0, 153, 255, 0.788);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 8px;
  font-size: 13px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="user"] {
  margin-top: 5px;
  border-color: rgb(126, 126, 126);  
  border-width: 2px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-top: 5px;
  border-color: rgb(126, 126, 126);  
  border-width: 2px;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-top: 5px;
  border-color: rgb(126, 126, 126);  
  border-width: 2px;  
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
