body {
    background-image: linear-gradient(to right, rgb(22, 22, 22),rgb(29, 29, 29),
    rgb(10, 10, 10),rgb(26, 26, 26),rgb(0, 0, 0),rgb(19, 19, 19),rgb(37, 37, 37));
    overflow-x: hidden;
    overflow-y: visible;
}
  
.cover-container {
    max-width: 100%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(119, 119, 119);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(119, 119, 119);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(119, 119, 119);
}  